spring:
  application:
    name: notification-service

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    hibernate:
      ddl-auto: update

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/notification-svc?createDatabaseIfNotExist=true
    username: root
    password: "1234"

  mail:
    host: smtp.gmail.com
    port: 587
    username: "momchil395@gmail.com"
    password: "tmzl aewf iwjl pqok"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8081

debug: true

logging:
  level:
    org: WARN
    blog: WARN
